@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@600&family=Caprasimo&family=Inter:wght@300;600;900&family=Phudu:wght@800&display=swap');
* {
    font-family: 'AR One Sans', sans-serif;
    font-family: 'Phudu', cursive;
    font-family: 'Caprasimo', cursive;
    font-family: 'Inter', sans-serif;
}


* {
    padding: 0;
    margin: 0;
    background: border-box;
}

body {
    background-color: #212A3E;
    overflow-x: hidden;
}
header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    position: fixed;
    background-color: #212A3E;
    box-shadow: 1px 1px 40px #208dcc8c;
    border-bottom: 0.5px solid #208dcc;
    z-index: 111;
}
header .a {
    text-decoration: none;
}
header .a img {
    position: absolute;
    width: 160px;
    left: 30px;
    top: 50%;
    transform: translate(0,-50%);
}
header .midell {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
header .midell a {
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 24px;
    width: 100px;
    font-weight: 700;
    padding: 10px 0px;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    /* border: 1px solid #208dcc; */
}
header .midell a button {
    text-decoration: none;
    text-align: center;
    color: #ADC3DB;
    font-size: 24px;
    width: 80px;
    font-weight: 700;
    padding: 10px 0px;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    border: none;
    z-index: 2;
    cursor: pointer;
}
header .midell a::before {
    content: "";
    width: 60px;
    height: 60px;
    position: absolute;
    background-color: #208dcc;
    top: 5px;
    left: 0;
    transform: translate(-61px,0);
    transition: .1s;
    z-index: 0;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
header .midell a::after {
    content: "";
    width: 60px;
    height: 60px;
    position: absolute;
    background-color: #208dcc;
    top: 5px;
    right: 0%;
    transform: translate(80px,0);
    transition: .1s;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
header .midell a:hover::after {
    transform: translate(0px,0);
    transition: .1s;
}
header .midell a:hover::before {
    transform: translate(0px,0);
    transition: .1s;
}

header .midell a:hover button {
    color: #212A3E;
}

#checkbox {
    display: none;
}

header .midell label i {
    font-size: 40px;
    color: #ADC3DB;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 40px;
    display: none;
}

header .menue {
    width: 400px;
    height: 100vh;
    background-color: #ADC3DB;
    position: absolute;
    right: 0;
    top: 80px;
    transform: translate(400px,0);
    transition: 1s;
    display: flex;
    align-items: end;
    /* justify-content: center; */
    /* padding-top: 100px; */
    flex-direction: column;
    gap: 60px;
    display: none;
}

header input:checked ~ .menue {
    transform: translate(0,0);
    transition: 1s;
}

header .menue a {
    padding: 20px 20px;
    width: 80%;
    background-color: #208dcc;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    color: #212A3E;
    text-decoration: none;
    /* color: #ADC3DB; */
    font-size: 24px;
    font-weight: 700;
}
header .menue a:nth-child(1) {
    background-color: #212A3E;
    border-bottom-left-radius: 60px;
    text-align: center;
    border-top-left-radius: 0px;
}
header .menue a img {
    width: 160px;
    color: #fff;
}

header .menue a p {
    margin-left: 20px;
}


main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 100px;
    padding: 0px 20px;
}


.div-container {
    position: relative;
    top: 80px;
    width: 100%;
    /* background-color: #208dcc; */
    z-index: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; 
    gap: 40px;
    padding-top: 100px;
}

.div-hello {
    display: flex;
    justify-content: center;
    align-items: center;

}
.div-hello h1 {
    color: #fff;
}

.div-hello-img {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-hello-img img {
    width: 400px;

}
.div-container:nth-child(1) {
    gap: 25%;
    top: 160PX;
}
.div-container a {
    text-decoration: none;
}
.div-container .div-box {
    width: 300px;
    height: 300px;
    /* background-color: #ADC3DB; */
    -webkit-clip-path: polygon(78% 0, 100% 22%, 100% 100%, 50% 100%, 0 100%, 0 0);
    clip-path: polygon(78% 0, 100% 22%, 100% 100%, 50% 100%, 0 100%, 0 0);
    border: 1px solid #208dcc;
    /* box-shadow: 10px 10px 10px #208dcc; */
    position: relative;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    gap: 20px;

}
.div-container .div-box img {
    width: 200px;
}
.div-container .div-box p{
    font-size: 24px;
    color: #fff;
    text-align: center;

}
.div-container .div-box::after {
    content: "";
    width: 100px;
    height: 110px;
    clip-path: polygon(100% 100%,0 0%,100% 0%);
    -webkit-clip-path: polygon(100% 100%,0 0%,100% 0%);
    background-color: #ADC3DB;
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid #ADC3DB;
    transition: .2s;

}

.div-container .div-box:hover::after {
    background-color: #208dcc;
    transition: .2s;
    border: 1px solid #208dcc;

}
svg {
    width: 100%;
    box-shadow: 1px -5px 40px #208dcc8c;
    border-top: 1px solid #208dcc;
}


@media (min-width: 1100px) and (max-width: 1350px) {
    
    

    .div-container:nth-child(1) {
        gap: 20%;
        top: 160PX;
    }
}
@media (min-width: 1000px) and (max-width: 1100px) {
    .div-container:nth-child(1) {
        gap: 10%;
        top: 160PX;
    }
}
@media (min-width: 600px) and (max-width: 1000px) {
    
    header {
        justify-content: end;
    }
    
    header .midell label i {
        display: none;
    }

    .div-container:nth-child(1) {
        gap: 100px;
        top: 160PX;
        flex-direction: column;
    }


    .div-container .div-box {
        width: 200px;
        height: 200px;
    }
    .div-container .div-box::after {
        width: 70px;
        height: 80px;
    }

    .div-container .div-box p{
        font-size: 16px;
        color: #fff;
        text-align: center;
    
    }

    .div-container .div-box img {
        width: 140px;
    }
}
@media (min-width: 600px) and (max-width: 800px) {
    
    header {
        justify-content: end;
    }

    header .menue {
        width: 100%;
        transform: translate(100%,0);
        display: flex;
    }

    header .midell label i {
        display: block;
    }
    
    header .midell a {
        display: none;
        
    }
    

    .div-container:nth-child(1) {
        gap: 100px;
        top: 160PX;
        flex-direction: column;
    }


    .div-container .div-box {
        width: 160px;
        height: 160px;
        padding: 15px 0px;
    }
    .div-container .div-box::after {
        width: 60px;
        height: 70px;
    }

    .div-container .div-box p{
        font-size: 16px;
        color: #fff;
        text-align: center;
    
    }

    .div-container .div-box img {
        width: 110px;
    }
}
@media (min-width: 550px) and (max-width: 600px) {
    
    header {
        justify-content: end;
    }

    header .menue {
        width: 100%;
        transform: translate(100%,0);
        display: flex;
    }

    header .midell label i {
        display: block;
    }
    
    header .midell a {
        display: none;
        
    }
    

    .div-container:nth-child(1) {
        gap: 100px;
        top: 160PX;
        flex-direction: column;
    }


    .div-container {
        gap: 12px;
    }
    .div-container .div-box {
        width: 160px;
        height: 160px;
        padding: 15px 0px;
    }
    .div-container .div-box::after {
        width: 60px;
        height: 70px;
    }

    .div-container .div-box p{
        font-size: 16px;
        color: #fff;
        text-align: center;
    }

    .div-container .div-box img {
        width: 110px;
    }
}
@media (min-width: 430px) and (max-width: 550px) {
    
    header {
        justify-content: end;
    }

    header .menue {
        width: 100%;
        transform: translate(100%,0);
        display: flex;
    }

    header .a img {
        position: absolute;
        width: 130px;
        left: 30px;
        top: 50%;
        transform: translate(0,-50%);
    }

    header .midell label i {
        display: block;
    }
    
    header .midell a {
        display: none;
    }   
    .div-container:nth-child(1) {
        gap: 100px;
        top: 160PX;
        flex-direction: column;
    }
    .div-container .div-hello-img {
        width: 300px;
    }
    .div-container .div-hello-img img {
        width: 300px;
    }
    .div-container .div-hello {
        font-size: 16px;
    }

    .div-container {
        gap: 12px;
    }
    .div-container .div-box {
        width: 120px;
        height: 120px;
        padding: 10px 0px;
        gap: 10px;
    }
    .div-container .div-box::after {
        width: 50px;
        height: 60px;
    }
    .div-container .div-box p{
        font-size: 12px;
        color: #fff;
        text-align: center;
    }
    .div-container .div-box img {
        width: 90px;
    }
}
@media (min-width: 0px) and (max-width: 430px) {
    
    header {
        justify-content: end;
    }

    header .menue {
        width: 100%;
        transform: translate(100%,0);
        display: flex;
    }

    header .a img {
        position: absolute;
        width: 110px;
        left: 30px;
        top: 50%;
        transform: translate(0,-50%);
    }

    header .midell label i {
        display: block;
    }

    header .midell a {
        display: none;
    }   
    .div-container:nth-child(1) {
        gap: 100px;
        top: 160PX;
        flex-direction: column;
    }
    .div-container .div-hello-img {
        width: 260px;
    }
    .div-container .div-hello-img img {
        width: 260px;
    }
    .div-container .div-hello {
        font-size: 14px;
    }


    .div-container {
        gap: 12px;
    }
    .div-container .div-box {
        width: 80px;
        height: 80px;
        padding: 10px 0px;
        gap: 8px;
    }
    .div-container .div-box::after {
        width: 30px;
        height: 40px;
    }
    .div-container .div-box p{
        font-size: 10px;
        color: #fff;
        text-align: center;
    }
    .div-container .div-box img {
        width: 55px;
    }
}